<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="Stylesheet/productdetails.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left-container">
            <div class="selected-img">
                <img src="https://images.unsplash.com/photo-1620799140408-edc6dcb6d633?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1972&q=80" alt=""  id="product-image">
            </div>
        </div>
        <div class="right-container">
            <div class="product-head">
                <h1>XVT LUKE FITTED BATHING HELMET</h1>
                <div class="quantity-and-cart">
                    <div class="price">
                        <h2>$59.9</h2>
                        <div class="discount">100.00USD</div>
                    </div>
                    <div class="quantity-wrap">
                        <div class="quantity">
                            <p>
                                <span id="item-quantity">0</span> 
                                <span class="line"></span> Pcs &nbsp;
                                <span class="count">
                                    <i class="bi bi-caret-up-fill" id="increase" onclick="increase()" ></i>
                                    <i class="bi bi-caret-down-fill" onclick="decrease()" id="decrease"></i>
                                </span> 
                            </p>
                        </div>
                        <button><i class="bi bi-plus"></i> Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="product-description">
                <div class="desc-head">
                    <h2>Description</h2>
                    <button>Add to Wishlist</button>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptas fuga est odit dignissimos quae hic natus tenetur, voluptatibus optio quibusdam quo, numquam quam itaque facere ipsam illum iure. Placeat harum corrupti possimus in! Placeat harum vero quam repellat qui.</p>
            </div>
        </div>
    </div>



    <script>
        let itemQuantity = 0
        let count = document.querySelector("#item-quantity")
        function increase(){
            itemQuantity += 1
            document.querySelector("#item-quantity").innerHTML = itemQuantity
            if(count.innerHTML > 0){
                document.querySelector("#decrease").style.display = "block"
                document.querySelector("#increase").style.top = "3px"

            }
        }
        
        function decrease(){
            if(count.innerHTML > 0){
                itemQuantity -= 1
            }
            if(count.innerHTML == 0){
                itemQuantity = 0
            }
            document.querySelector("#item-quantity").innerHTML = itemQuantity
            if(count.innerHTML <= 0){
                document.querySelector("#decrease").style.display = "none"
            }

        }
    </script>
</body>
</html>