*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Livvic', sans-serif;
}
.container{
    display: flex;
}
.left-container{
    height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgb(172, 172, 172);
    width: 20%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}
.left-container::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(233, 233, 233);
    border-radius: 25px;
}
.left-container::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(172, 172, 172);
    border-radius: 25px;
}
.wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.category-wrapper{
    border-bottom: 1px solid rgb(172, 172, 172);
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.categories{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: rgb(100, 100, 100);
    font-weight: 500;
}
.categories p:hover{
    color: #2D67E4;
    cursor: pointer;
    transition: 300ms;
}
#active{
    color: #2D67E4;
}

.filter-wrapper{
    padding: 40px 0;
}
.filter{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.sections{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.section-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: rgb(100, 100, 100);
  }
  .material-symbols-outlined:hover{
    cursor: pointer;
  }
/* .showmore:nth-child(2){
    display: none;
}
.expand .showmore{
    display: none;
}
.expand .showmore:nth-child(2){
    display: flex;
} */
.section-menu{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.checked-menu{
    display: none;
    column-gap: 10px;
    align-items: center;
}
.actives .type-section {
    display: flex;
}
.actives .type-section-wrapper{
    display: flex;
}
.actives .color-section {
    display: flex;
}
.actives .color-section-wrapper{
    display: flex;
}
.checked-menu input{
    height: 20px;
    width: 20px;
}
.checked-menu input:checked{
    accent-color: #2D67E4;
}
.checked-menu p{
    color: rgb(100, 100, 100);
    font-weight: 500;
}






.right-container{
    width: 70%;
}
