*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: rgb(241, 241, 241);
    font-family: 'Livvic', sans-serif;
}
.wrapper{
    background-color: white;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 350px; */
    width: 45%;
    row-gap: 20px;
    align-items: center;
}
.register-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}
.register-information a{
    font-weight: 400;
    text-decoration: none;
    color: #2D67E4;
    font-weight: 400;
}
.register-information a:hover{
    text-decoration: underline;
    /* text-shadow: 0px 0px 2px #2d67e4b1; */
    transition: 300ms;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 70%;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    height: 350px;
    overflow-y: scroll;
    padding-right: 5px;
}
.form-wrapper::-webkit-scrollbar{
   width: 8px;
   background-color: rgb(238, 238, 238);
    border-radius: 25px;
}

.form-wrapper::-webkit-scrollbar-thumb{
    background-color: rgba(154, 154, 154, 0.768);
    border-radius: 25px;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    width: 100%;
}
.input-wrapper input{
    border-radius: 3px;
    border: 1px solid gray;
    padding: 7px 10px;
    outline: none;
}
.input-wrapper input{
    outline: none;
}
.input-wrapper input:focus{
    border: 1px solid #2D67E4;
}
form button{
    background-color: #2D67E4;
    border: none;
    color: white;
    border: none;
    padding: 9px 10px;
    border-radius: 4px;
}
form button:hover{
    cursor: pointer;
    box-shadow: 0px 7px 20px #2d67e479;
    transition: 500ms;
}
 img{
    width: 55%;
    object-fit: cover;
}
.bi-x{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.259);
    top: 30px;
    right: 30px;
    font-size: 25px;
    border-radius: 100%;
    padding: 3px 5px;
}
.bi-x:hover{
    background-color: rgba(0, 0, 0, 0.664);
    cursor: pointer;
    color: white;
    transition: 500ms;
}



@media(max-width: 1300px){
    form{
        width: 100%;
    }
}
@media(max-width: 1000px){
    .wrapper{
        width: 50%;
    }
    img{
        width: 50%;
    }
}
@media(max-width: 760px){
    .wrapper{
        width: 100%;
    }
    form{
        width: 80%;
    }
    img{
        display: none;
    }
    .bi-x{
        background-color: white;
    }
    .bi-x:hover{
        color: red;
        background-color: white;
    }
}
@media(max-width: 500px){
    .register-information{
        row-gap: 0px;
    }
    .register-information h1{
        font-size: 27px;
    }
    .register-information p{
        font-size: 14px;
    }
    label{
        font-size: 14px;
    }
    form{
        width: 100%;
        row-gap: 10px;
    }
    .form-wrapper{
        row-gap: 5px;
    }
    .bi-x{
        top: 10px;
        right: 10px;
    }
}
@media(max-width: 400px){
    .wrapper{
        padding: 50px 20px;
    }
}