*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Livvic', sans-serif;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    /* padding: 250px; */
}

.hero_text{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#blue{
    /* color: rgb(245, 232, 220); */
    color: #a0816c;
}

.hero_text span:nth-child(1){
    font-size: 2.7rem;
    font-weight: 600;
    color: rgba(34, 33, 33, 0.829);
}


#hero_text_two{
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(128, 128, 128, 0.747);
}

.gender_categories{
    /* background-color: aqua; */
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.gender_category_card{
    width: 45%;
    height: 400px;
    background-color: rgba(44, 46, 46, 0.39);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gender_category_card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    filter: brightness(.83);
}


.gender_category_card h1{
    z-index: 5;
    text-align: center;
    font-size: 2.7rem;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    place-content: center;
    align-items: center;
}


.clothes_cards{
    background-color: rgba(239, 239, 241, 0.349);
    width: 100%;
    margin: auto;
    margin-top: 80px;
    padding: 55px 0px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
}

.clothes_cards span:nth-child(1){
    font-size: 2rem;
    font-weight: 500;
    color: rgba(34, 33, 33, 0.829);
}

.clothes_display{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.clothes_display_card{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

.clothes_display_card img{
    object-fit: cover;
    width: 24%;
    height: 300px;
}

.latest_category{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.latest_category span:nth-child(1){
    font-size: 2rem;
    font-weight: 500;
    color: rgba(34, 33, 33, 0.829);

}

.latest_category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

.latest_category_items_card{
    width: 26%;
    height: 450px;
    box-shadow: 1px 2px 25px #a0816c1c;;
    border-radius: 40px;
    position: relative;
}

.latest_category_items_card img{
    width: 90%;
    height: 300px;
    margin-top: 20px;
    border-radius: 30px;
}

.latest_category_item_desc{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.latest_category_item_desc p:nth-child(1){
    text-align: start;
    margin-top: 20px;
    font-size: 1.5rem;
    color: rgba(56, 55, 55, 0.842);
    font-weight: 500;
}

.latest_category_item_desc div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest_category_item_desc div:nth-child(2) span:nth-child(1){
    color: rgba(146, 145, 145, 0.705);
    font-size: 1.3rem;
}

.latest_category_item_desc div:nth-child(2) span:nth-child(2){
    font-weight: 600;
    font-size: 1.4rem;
}


.bi-bag-heart-fill{
    background-color: rgb(34, 34, 34);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    position: absolute;
    right: 40px;
    top: 300px;
    font-size: 1.2rem;
    cursor: pointer;
}


@media screen and (max-width: 992px){
.gender_category_card{
    width: 90%;
}

.gender_categories div:nth-child(2){
    margin-top: 22px;
}

.clothes_display_card img{
    width: 48%;
    margin-top: 20px;
}


@media screen and (max-width: 500px){
    .hero_text span:nth-child(1){
        font-size: 2rem;
    }

    #hero_text_two{
        font-size: 1.2rem;
    }

    .gender_category_card h1{
        font-size: 2.3rem;
    }

    .gender_category_card{
        height: 300px;
    }

    .clothes_display_card img{
        width: 90%;
    }

    .clothes_display_card{
        justify-content: center;
    }
}