@mixin flexDisplay($justify, $alignment, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $alignment;
  flex-direction: $direction;
}
.form-container {
  min-height: 100vh;
  @include flexDisplay(center, center, column) ;
  .form-heading{
    margin-bottom: 15px;
    width: 100%;
    @include flexDisplay(center, center, column) ;
    svg{
      width: 100px;
    }
    h1{
    font-weight: 500;
    color: black;
    margin-top: 5px;
    }

  }
  .auth-form {
    width: 450px;
    margin: 0 auto;
    padding: 30px 20px;
    padding-top: 0;
    border-radius: 5px;
    .form-content {
      margin-bottom: 20px;
      label {
        display: block;
        padding-bottom: 5px;
      }
      input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid gainsboro;
        border-radius: 5px;
      }
    }
    button {
      width: 100%;
      font-size: 16px;
      border: none;
      background-color: royalblue;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: 600;
    }
    a{
        width: 100%;
        margin-top: 10px;
        display: block;
        text-decoration: none;
        color: royalblue;
        &:hover{
            text-decoration: underline;
        }
    }
  }
  .auth-suggestions{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    width: 450px;
    margin-top: 10px;
    text-align: center;
    a{
        text-decoration: none;
        color: royalblue;
        &:hover{
            text-decoration: underline;
        }
    }
  }
}
