@import url("https:fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Livvic", sans-serif;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

h2 {
  font-size: 1.25rem !important;
  font-weight: 500;
}

h3 {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

body {
  font-size: 15px;
  min-height: 100vh;
  max-width: 1450px;
  margin: auto;
}

.form-error {
  color: crimson;
  font-size: 13px;
  margin-top: 2px;
}

.shop-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.shop-info img {
  width: 350px;
}
.shop-info p {
  font-size: 20px;
  color: rgb(91, 91, 91);
}
.shop-info button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  border-radius: 50px;
  background-color: #2d67e4;
}

.user-dash {
  width: calc(100% - 100px);
  margin: 0px auto;
}

.nav__links {
  display: flex;
  align-items: center;
  min-height: 4rem;
  padding: 0 2rem;
  padding-bottom: 0;
  overflow: auto;
  gap: 1rem;
  margin-top: 20px;
}
.nav__links a {
  display: inline-block;
  display: block;
  padding: 5px 20px;
  color: #676c6f !important;
  border-radius: 50px;
  position: relative;
  text-decoration: none !important;
}
.nav__links a button {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: rgb(91, 91, 91);
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__links a:hover {
  background-color: whitesmoke;
  transition: 0.3s;
}
.nav__links a:hover.active::before {
  background: transparent;
}
.nav__links a.active {
  color: #151a1e;
  font-weight: 500;
  background-color: #2d67e4;
}
.nav__links a.active button {
  color: white;
}
.nav__links a.active button i {
  color: white !important;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-top: 1rem;
}
main > div {
  background: #fff;
  border-radius: 0.5rem;
}

small {
  color: rgb(165, 165, 167);
}

img {
  max-width: 100%;
}

.heading {
  display: flex;
  height: 3rem;
  padding: 0 1rem;
  align-items: center;
}

.overview {
  grid-column: 1/6;
}
.overview .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0.5rem;
}
.overview .container .content {
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 5px;
}
.overview .container .content .heading {
  justify-content: space-between;
}
.overview .container .content .heading i {
  font-size: 1.3rem;
  cursor: pointer;
  color: #315399;
}
.overview .container .content .body {
  padding: 1rem;
}
.overview .container .content .body p {
  font-size: 15px;
}
.overview .container .content .body p i {
  margin: 1.5rem;
  font-size: 1.3rem;
  color: #315399;
}
.overview .container .content a {
  padding: 0.6rem;
  color: #315399;
  border-radius: 5px;
  margin-top: 2.5rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  transition: 0.3s;
}
.overview .container .content a:hover {
  background: rgba(49, 84, 153, 0.384);
}
.overview .container .content a.fill {
  width: 100%;
  border: 1px solid rgba(49, 84, 153, 0.384);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.overview .container .content a.fill i {
  position: absolute;
  left: 1rem;
  font-size: 1.3rem;
}
.overview .container .content form {
  padding: 20px;
}
.overview .container .content form .form-content {
  margin-bottom: 20px;
}
.overview .container .content form .form-content label {
  display: block;
  padding-bottom: 8px;
  margin: 0 !important;
}
.overview .container .content form .form-content input,
.overview .container .content form .form-content textarea {
  border: 1px solid gainsboro;
  width: 100%;
  max-width: 400px;
  min-width: 0;
  padding: 6px;
  font-size: 16px;
  border-radius: 5px;
}
.overview .container .content form .form-content textarea {
  min-height: 100px;
  max-height: 100px;
}
.overview .container .content form button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  border-radius: 50px;
  background-color: #2d67e4;
}
.overview .container .details-content {
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  width: 100%;
  grid-column: 1/6;
}
.overview .container .details-content .form-details {
  width: 100%;
  padding: 0px 20px;
  padding-bottom: 20px;
}
.overview .container .details-content .form-details button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  border-radius: 50px;
  background-color: #2d67e4;
}
.overview .container .details-content .form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.overview .container .details-content .form-grid .form-content {
  margin: 0;
}
.overview .container .details-content .form-content {
  margin-bottom: 20px;
}
.overview .container .details-content .form-content label {
  display: block;
  padding-bottom: 8px;
  margin: 0 !important;
}
.overview .container .details-content .form-content input,
.overview .container .details-content .form-content textarea {
  border: 1px solid gainsboro;
  width: 100%;
  max-width: 100%;
  padding: 6px;
  font-size: 16px;
  border-radius: 5px;
}
.overview .container .details-content .form-content textarea {
  min-height: 100px;
  max-height: 100px;
}

.product-card-container {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product-card-container .card {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
}

.products-table {
  cursor: pointer;
  border: 1px solid whitesmoke;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.products-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.products-table table td,
.products-table table th {
  text-align: center;
  padding: 10px;
}
.products-table table .product-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.products-table table .product-item div a {
  text-decoration: none;
  color: inherit;
}
.products-table table .product-item div h6 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
}
.products-table table .product-item img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.products-table table thead tr {
  border-bottom: 1px solid gainsboro;
}
.products-table table thead tr th {
  font-weight: 500;
  color: black;
}
.products-table table tr {
  width: 100%;
  cursor: default;
}
.products-table table tr .status-icon {
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 50px;
}
.products-table table tr .status-icon.active {
  background-color: lightseagreen;
}
.products-table table tr .status-icon.blocked, .products-table table tr .status-icon.cancelled {
  background-color: crimson;
}
.products-table table tr .status-icon.pending {
  background-color: rgb(207, 110, 0);
}
.products-table table tr:nth-of-type(even) {
  background-color: whitesmoke;
}
.products-table table tr button {
  border: none;
  background-color: transparent;
  width: 20px;
  overflow: hidden;
}
.products-table table tr button i {
  font-size: 20px;
}

@media screen and (min-width: 1250px) {
  .product-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .overview .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .ads img {
    width: 500px;
  }
}
@media screen and (min-width: 1150px) {
  .product-card-container {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media screen and (max-width: 592px) {
  .overview .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 880px) {
  .user-dash {
    width: calc(100% - 20px);
  }
  .details-content .form-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .ads h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .product-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .product-card-container {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 517px) {
  .ads h1 {
    font-size: 1.5rem;
  }
  .details-content .form-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media screen and (max-width: 375px) {
  .product-card-container {
    grid-template-columns: repeat(1, 1fr);
    width: 99%;
    margin: 0;
  }
  .ads h1 {
    font-size: 0.9375rem;
    font-weight: 500;
  }
}