*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Livvic', sans-serif;
    display: flex;
    padding: 18px 0;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 20px gray; */
    transition: 500ms;
}
.nav-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper .logo svg{
    width: 80px;
}
.menu-wrapper{
    display: flex;
    align-items: center;
    /* column-gap: 80px; */
}
.menu{
    display: flex;
    column-gap: 20px;
}
.menu a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.menu a:hover{
    color: #2D67E4;
    transition: 400ms;
    cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: rgb(80, 80, 80);
  font-size: 20px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile a{
    display: flex;
    align-items: center;
}

.profile span:hover{
    cursor: pointer;
    color: black;
    transition: 500ms;
}
.profile .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: rgb(62, 62, 62);
  font-size: 20px;
}
.profile button{
    background-color: #2D67E4;
    border: none;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    /* font-size: 13px; */
}
.profile button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 20px #2d67e479;
    transition: 500ms;
}
.profile .menuicon{
    display: none;
}

#overlay{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 89vh;
    width: 100%;
    z-index: 10;
    background: #00000080;
}

.responsivenav{
    width: 420px;
    height: 90vh;
    font-family: 'Livvic', sans-serif;
    background-color: white;
    display: none;
    z-index: 2000;
    padding: 30px 50px;
    position: absolute;
    right: 0px;
    /* top: 70px; */
    box-sizing: border-box;
}
.show .responsivenav{
    display: flex;
}
.responsivenav_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.responsive_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.responsivesearch{
    background-color: white;
    width: 90%;
    box-shadow: 0px 0px 20px rgb(227, 227, 227);
    height: fit-content;
    padding: 8px 20px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menulist{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.menulist a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.profile_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.profile_wrapper button{
    width: 100%;
    background-color: #2D67E4;
    border: none;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
}
.profile_wrapper button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 20px #2d67e479;
    transition: 500ms;
}

.account{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.account span{
    font-variation-settings:
  'FILL' 1,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48;
  color: rgb(96, 96, 96);
  font-size: 22px;
}
.account span:hover{
    cursor: pointer;
    color: black;
    transition: 500ms;
}

@media(max-width: 1000px){
    .search{
        display: none;
    }
    .profile .search2{
        display: block;
        box-shadow: none;
        width: fit-content;
        padding: 0px;
        color: rgb(62, 62, 62);
        font-size: 24px;
    }
}
@media(max-width: 750px){
    .menu{
        display: none;
    }
    .profile button{
        display: none;
    }
    .profile span{
        display: none;
    }
    .profile .search2{
        display: none;
    }
    .profile .menuicon{
        display: block;
        font-size: 25px;
    }
    .profile .menuicon:hover{
        cursor: pointer;
    }
}
@media(max-width: 500px){
    .responsivenav{
        width: 100vw;
        padding: 30px 20px;
    }
    .menulist a{
        font-size: 16px;
    }
    .account .accounticon{
        text-align: right;
    }
    .account span{
        font-size: 22px;
    }

}